# You can install the requirements with:
#
# pip install https://bitbucket.org/decalage/cherryproxy/downloads/CherryProxy-0.13.zip
# pip install http://xael.org/norman/python/pyclamd/pyClamd-0.3.4.tar.gz
#

CherryProxy==0.13
argparse==1.2.1
pyClamd==0.3.4
wsgiref==0.1.2
